@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #D8D0C1;
}


nav {
  background-color: #e0d3de;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .navItems {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 20px 10px;
    a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 5px 15px;
      margin: 0 10px;
      text-decoration: none;

      border: 1px solid #6f686d;
      border-radius: 5px;
    }
  }
  p {
    display: flex;
    padding: 0 50px;
  }
}

#map {
  height: 400px;
}

.placesList{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px 40px;
  .listItem{
    display: flex;
    flex-flow: column nowrap;
  
    width: 300px;
    padding: 10px 20px;
    margin: 10px 20px;
    border: 1px solid #6f686d;
    border-radius: 10px;
    p{
      margin: 5px 0;
    }
    .buttonsDiv{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      padding: 10px 0;
      a{
        text-decoration: none;
        color:black;
        border: 1px solid #6f686d;
        border-radius: 5px;
        padding: 3px 8px;
        
      }
      .edit{
        background-color:#B3B492;
      }
      .delete{
        background-color:#CBB8A9;
      }
    }
  }
}


