<script>window.places = {{{places}}}</script>

<div class="placesList">
  {{#each places2}}
  <div class="listItem">
    <p>Name of place: {{name}}</p>
    <p>Type of place: {{type}}</p>
    <div class="buttonsDiv">
      <a class="edit" href="/{{_id}}/edit">Edit</a>
      <a class="delete" href="/{{_id}}/delete">Delete</a>
    </div>

  </div>
  {{/each}}
</div>

<script src="/javascripts/home.js"></script>