<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <nav>
    <div class="navItems">
      <a href="/">Home</a>
      <a href="/new">New Place</a>
    </div>
    <p>Coffee and Books</p>
  </nav>


  {{{body}}}

<div id="map"></div>

  




  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzV5LIALvi7VWTP5lkXmhMzT2_Y7p0Ge4"></script>
  <script src="/javascripts/geolocate.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>