<div class="containerForm">
  <h2>Add new Place</h2>
  <form action="" method="post">

    <div class="rowForm">
      <label for="name">Name</label>
      <input type="text" name="name">
    </div>

    <div class="rowForm">
      <label for="type">Type</label>
      <input type="radio" name="type" value="coffee shop">Coffee Shop
      <input type="radio" name="type" value="bookstore">Bookstore
    </div>
    <input type="hidden" name="latitude" placeholder="latitude">
    <input type="hidden" name="longitude" placeholder="longitude">
    <div style="color:green" class="locationStatus"></div>

    <button type="submit">Create</button>

  </form>

</div>

<script src="/javascripts/create.js"></script>